@charset "UTF-8";

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Vollkorn', Georgia, serif;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  border-radius: 5px;
}

  /* GRID GERAL */

.estrutura {
  display: grid;
  grid-template-columns: minmax(160px, 1fr) 3fr 300px;
  grid-template-areas:
    "header header header"
    "sidenav content anuncios"
    "footer footer footer";
}

@media (max-width: 1200px) {
  .estrutura {
    grid-template-areas:
      "header header header"
      "sidenav content content"
      "sidenav anuncios anuncios"
      "footer footer footer";
  }
}

@media (max-width: 760px) {
  .estrutura {
    grid-template-columns: 100%;
    grid-template-areas:
      "header"
      "sidenav"
      "content"
      "anuncios"
      "footer";
  }
}

  /* HEADER */

.header {
  background: linear-gradient(135deg, #8844EE, #B07DFB);
  grid-area: header;
  padding: 30px;
  display: grid;
  grid-template-columns: 1fr auto;
  align-items: center;
}

.logo {
  max-width: 200px;
}

.header nav ul {
  display: flex;
  flex-wrap: wrap;
}

.header nav a {
  display: block;
  padding: 10px;
  color: #fff;
  font-size: 1.125em;
  background: rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  transition: 0.1s;
}

.header li + li {
  margin-left: 30px;
}

.header nav a:hover {
  background: rgba(0, 0, 0, 0.5);
}

@media (max-width: 700px) {
  .header {
    grid-template-columns: auto;
    row-gap: 20px;
  }

  .header nav a {
    font-size: 1em;
  }

  .header li + li {
    margin-left: 10px;
  }
}

  /* SIDENAV */

.sidenav {
  grid-area: sidenav;
  background-color: #FAFBFC;
  padding: 30px;
}

.sidenav li a {
  background-color: #FFFFFF;
  display: block;
  min-width: 60px;
  max-width: 100px;
  margin: 0 auto 30px auto;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 5px 5px 15px 0px rgba(44, 44, 44, 0.15);
  transition: 0.1s ease-out;
}

.sidenav li a:hover {
  background-color: #B07DFB;
}

@media (max-width: 760px) {
  .sidenav {
    display: flex;
  }
}

  /* CONTENT */

.content {
  grid-area: content;
  max-width: 900px;
  margin: 0 auto;
  padding: 30px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
}

.col-wide {
  grid-column: 1 / -1;
}

.imagem-1 {
  grid-row: span 2;
  align-self: end;
  justify-self: end;
}

.imagem-2 {
  align-self: end; 
}

.imagem-3 {
  justify-self: center;
}

  /* ESTILOS CONTENT */

p {
  font-size: 1.2em;
  line-height: 1.6;
  letter-spacing: -0.005em;
  color: rgba(0, 0, 0, 0.7);
}

.informacoes p + p {
  margin-top: 30px;
}

  /* TITULO */

.titulo {
  color: #B07DFB;
}

.titulo h1 {
  font-size: 3.75em;
  line-height: 1;
  font-weight: 700;
}

.titulo span {
  font-size: 0.938rem;
  font-style: italic;
}

  /* CARACTERISTICAS */

.caracteristicas {
  display: flex;
  align-items: flex-start;
}

.caracteristicas > div {
  width: 80px;
  text-align: center;
  background: linear-gradient(135deg, #8844EE, #B07DFB);
  border-radius: 5px;
  box-shadow: 5px 5px 15px 0px rgba(44, 44, 44, 0.15);
  position: relative;
}

.caracteristicas > div:first-child {
  margin-right: 30px;
}

.caracteristicas span {
  display: block;
  color: #B07DFB;
}

.numero {
  font-size: 3em;
  line-height: 1;
  margin: 10px auto;
}

.rotulo {
  background-color: #FFFFFF;
  border-radius: 0 0 5px 5px;
  padding: 5px 0;
  position: relative;
  top: 2px;
}

.destaque {
  font-size: 0.938rem;
  color: #B07DFB;
  max-width: 16em;
}

.citacao, .atributos {
  align-self: start;
  padding: 30px;
  border-radius: 5px;
  box-shadow: 5px 5px 15px 0px rgba(44, 44, 44, 0.15);
  background: linear-gradient(135deg, #8844ee, #B07DFB);
}

.citacao p {
  color: #fff;
  font-size: 1.5em;
  font-style: italic;
  text-align: center;
  max-width: 500px;
  margin: 0 auto;
}

.atributos li {
  color: #fff;
  font-family: 'Courier New', Courier, monospace;
  font-size: 1.125em;
  padding: 15px;
}

.atributos li + li {
  border-top: 2px solid rgba(255, 255, 255, 0.3);
}

  /* ANUNCIOS */

.anuncios {
  grid-area: anuncios;
  background-color: #FAFBFC;
  display: grid;
  align-content: start;
  padding: 30px;
  gap: 30px;
}

  /* FOOTER */

.footer {
  grid-area: footer;
  background: linear-gradient(135deg, #8844EE, #B07DFB);
  color: #fff !important;
  text-align: center;
  padding: 30px;
  font-size: 1.2em;
}

.footer a {
  color: #fff;
  text-decoration: underline;
}